@tailwind base;
@tailwind components;
@tailwind utilities;

.foodContainer::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.123);
  border-radius: 20px;
  background-color: #fffdf6;
}

.foodContainer::-webkit-scrollbar {
  width: 0px;
}

.orderContainer::-webkit-scrollbar {
  width: 0px;
}

input {
  background-color: #fffdf6;
  @apply shadow-sm focus:outline-none;
}

textarea {
  background-color: #fffdf6;
  @apply shadow-sm focus:outline-none;
}
